:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0;
}
body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  min-height: 100vh;
}
#root {
  height: 100vh;
  width: 100%;
}
.mySwiper {
  width: 100% !important;
  padding-left: 100px;
  height: 50px;
  align-items: center !important;
}

.swiper-slide {
  width: fit-content !important;
  align-items: center !important;
  display: flex !important;
}
.video__player {
  width: 100%;
  cursor: pointer;
}
.my__input {
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  color: white;
  width: 100%;
  font-size: 1rem;
  border-bottom: 1px solid grey;
}
.other__hovers {
  --display: none;
}
.other__hovers:hover {
  --display: block;
}
.progress {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.382);
  height: 0.24em;
  border-radius: 12px;
  cursor: pointer;
  overflow: hidden;
}
.progress div {
  background-color: red;
  width: 30%;
  height: 100%;
}
.hover__video {
  --opacity: 0;
}
.hover__video:hover {
  --opacity: 1;
}

.time {
  visibility: var(--displayTime);
}
.hover {
  visibility: var(--display);
}

.hover__container:hover {
  z-index: 3000;
}
